<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Post</title>
</head>
<body>
    <%- include("partials/header.ejs")  %>

    <h1>Edit Post</h1>
    <form action="/edit/<%= post.id %>" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= post.title %>" required>

        <label for="content">Content:</label>
        <textarea id="content" name="content" required><%= post.content %></textarea>

        <button type="submit">Update Post</button>
    </form>
</body>
</html>
